.piece {
  height: 80px;
  width: 80px;
  border-radius: 3px;
  background-size: 80px;
}

.piece_container {
  position: relative;
}

.piece_container.turned {
  animation: piece_flip_front_animation 500ms forwards;
  transform-style: preserve-3d;
}

.piece_container.reverse {
  animation: piece_flip_back_animation 500ms 1000ms forwards;
  transform-style: preserve-3d;
}

.piece_container.scored {
  animation: score_made_animation 500ms forwards;
}

.piece__front {
  background-image: url('../../assets/front_card.png');
}

.piece__back {
  background-image: url('../../assets/back_card.png');
  
  position: absolute;
  top:0;

  transform: rotate3d(0, 1, 0, 180deg);
}

}

@keyframes piece_flip_front_animation{
  0% {transform: rotate3d(0, 1, 0, 180deg);}
  100% {transform: rotate3d(0);}
}

@keyframes piece_flip_back_animation {
  0% {transform: rotate3d(0);}
  100% {transform: rotate3d(0, 1, 0, 180deg);}
}

@keyframes score_made_animation {
  0% {transform: scale(1);}
  100% {transform: scale(0);}
}
.piece__removed {
  background-color: transparent;
  background-image: none;
  height: inherit;
  width: inherit;
}
.piece__card {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.piece__card svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}