.piece {
  background-color: whitesmoke;
  height: 80px;
  width: 80px;
  border-radius: 3px;
  background-size: 80px;
}

.piece__front {
    background-image: url('../../assets/front_card.png');
}

.piece__back {
    background-image: url('../../assets/back_card.png');
}